
<div class="box">
  <h3 class="title">ようこそ、<%= @user.name%>さん</h3>
  <p class="text">ご登録いただきありがとうございます</p>
  <p class="oyomikudasai">
  アカウントを有効化するには下のリンクをクリックして画面の指示に従ってください。
  </p>
  <a href="<%= @url.html_safe %>">click here</a>
<div>
