<div class="box">
  <h3 class="title">ご利用いただきありがとうございます<%= @user.name%>さん</h3>
  <p class="text">パスワードリセットが要求されました</p>
  <p class="oyomikudasai">
    以下のリンクをクリックするとパスワードをリセットすることができます。
    このメールに見覚えがなければ無視してください。
  </p>
  <a href="<%= @url.html_safe %>">click here</a>
<div>
